:root
{
    font-size: 100%;
}
body
{
    background-color: #e5e5e5;
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
}
#contenair
{
    background-color: #202020;;
    background-image: url(images/Geeknius\ Dark.png);
    width: 1860px;

     /*  ligne une */  
} 
.coordinate
{
    display: flex;
    margin: 62px;
}  
.firstname
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    margin-top: 22px;
    margin-right: 46px;
}
.phone,.mail
{
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-right: 32.8px;
} 

    /*  tableau un */  
#table1
{
    display: flex;
    margin-left: 390px;
}  
.metier
{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-top: 92px;
    margin-bottom: 33px;
        
} 
h1
{
    font-size: 72px;
    line-height: 100.8px;
    letter-spacing: -3px;
    width: 706px;  
}
ul
{
    padding: 0;
    font-size: 16px;
    line-height: 24px;  
}
li
{
    margin: 0;
    list-style: none;
}
.prenom
{
    color: #F87F28;
}
.poste
{
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}
.photoprofil
{
    margin-top: 86px;
}

    /*  boutons */  
#boutons
{
    display: flex;
    
}
.portfolio >a
{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 12px 32px 11px 32px;
    border-radius: 50px;
    background-color: #BB2323;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23.8px;
    box-sizing: border-box;
    border: solid 2px;
    border-color: #BB2323;  
}  

.contact >a
{
    text-decoration: none;
    color: #F87F28;
    border-color:#F87F28;
    border: solid 2px;
    border-radius: 50px;
    padding:12px 29px 11px 35px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23.8px;
    margin-top: 72px;
}
    /*  clients logos */      
.clients
{
    text-align: center;
    font-size: 12px;
    line-height: 30.72px;
    letter-spacing: 3px;
    margin-top: 214px;
    margin-bottom: 4px;
    
}
.logoclients
{
    display: flex;
    justify-content: center;
}
.ubisoft
{
    margin-left: 60.21px;
    margin-right: 22.5px;
    margin-bottom: 92px;
}
.capcom
{
    margin-left: 40px;
    margin-right: 32.06px;
}
.microsoft
{
    margin-right: 13.15px;
}
    /*  diapo 2 */  

h2
{
    font-size: 36px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    margin-top: 221px;
    margin-bottom: 45px;
}
.competences
{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.technique
{
    display: grid;
    column-gap: 90px;
    margin-bottom: 324px;
    
}
.imgtech
{
    grid-column: 1;
    grid-row: 1;
    
}
.tech
{
    grid-column: 1;
    grid-row: 2;
}
.descriptech
{
    grid-column: 1;
    grid-row: 3;
    font-size: 14px;
    line-height: 24px;
    width: 172px;
   
}
.imggestion
{
    grid-column: 2;
    grid-row: 1;
    
}
.gestion
{
    grid-column: 2;
    grid-row: 2; 
}
.descripgestion
{
    grid-column: 2;
    grid-row: 3; 
    width: 176px;
}
.imgmanagement
{
    grid-column: 3;
    grid-row: 1;
}
.management
{
    grid-column: 3;
    grid-row: 2;

}
.descripmanage
{
    grid-column: 3;
    grid-row: 3;
    width: 191px;
}
.imglangues
{
    grid-column: 4;
    grid-row: 1;
}
.langues
{
    grid-column: 4;
    grid-row: 2; 
}
.descriplang
{
    grid-column: 4;
    grid-row: 3; 
    width: 192px;
}
#pointfort
{
    margin-left: 403px;
    margin-right: 403px;
}
h3
{
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    margin-bottom: 0;
    margin-top: 16px;
}
  /* diapo3 */ 
h4
{
    font-size: 36px;
    font-weight: 600;
    line-height: 60px;
}
.galerie
{
    width: 360px;
    font-size: 14px;
    line-height: 24px;
}
.diapo3
{
    display: flex;  
}
.photos
{
    margin-left: 70px;
    width: 1020px;
    display: block;
}
.three,.two,.one
{
    margin-top: 24px;
}
.cosmo,.peinture,.machine
{
    padding-right: 15px;
    border-radius: 20px;
   
}
.bureau,.water,.orange
{
   border-radius: 20px; 
}
    /* diapo4 */ 



.Experience
{
    width: 242px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 29px ;
}
button
{
    font-size: 14px;
    line-height: 24px;
    border-radius: 50px;
    background-color: #BB2323;
    color: #FFFFFF;
    border: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}
.general
{
    display: flex;
    margin-top: 239px;
}
.aujourdhui, .mai, .sept
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.webdev, .directeur, .webdev2
{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: capitalize;
    width: 262px;
    gap: 70px;
    margin-top: 13px;
}
.bloc2
{
    margin-left: 121px;
    margin-right: 75px;
}
.webdev
{
    margin-bottom: 105px;
}
.directeur
{
    margin-bottom: 72px;
}
.taches1, .taches2
{
    margin-bottom: 72px;
}
.taches1, .taches2, .taches3
{
    font-size: 14px;
    line-height: 24px;
    width: 328px;
    
}
.taches3
{
    width: 302px;
}
 
/* diapo5 */ 
.diapo5{
    display:flex;

}
.titre2
{
    margin-top: 245px;
}
.competences
{
    font-size: 14px;
    line-height: 24px;
}
#softskill
{
    margin-top: 200px;
}

/* diapo6 */ 
#temoignage
{
    display: flex;
    column-gap: 40px;
    margin-left: 512px;
    margin-right: 512px;
    margin-top: 90px;
}
.temoignage1
{
    font-size: 21px;
    font-style: italic;
    line-height: 35.7px;
    margin-top: 0;
    margin-bottom: 37.36px;
}
.nomceao
{
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
    margin-bottom: 5px;
}
.ceo
{
    font-size: 15px;
    line-height: 22.4px;
    letter-spacing: 0.5px; 
    margin-bottom: 188.64px;  
}

/* diapo7 */ 
#Actualités, #contact
{
    display: flex;
    margin-left: 383px;
    margin-right: 383px;

}
#titreactualités
{
   margin-right:  88px; 
}
.dates
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
    letter-spacing: 2px;
    color: #F87F28;
    text-transform: uppercase;
}
.detailstitre
{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}
.descripactu, .lien
{
    font-size: 14px;
    line-height: 24px;
    width: 522px;
}
#actu1
{
    margin: 0;
    text-align: left;
}

/* diapo8 */

.contact1
{
    color: #BFBFBF;  
    text-align: left;
    margin-top: 197px;
}
.adresse, .email, .telephone
{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -1px;
    color: #F87F28;
}

.adresse1, .email1, .telephone1
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

#contactezmoi
{
    margin-top: 140px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.champs_formulaire
{
    display: flex;
}
label
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    line-height: 23.8px;
    color: #E5E9F1;
    display: inline-block;
    margin-top: -20px;
}
input[type="text"]
{
    background-color: aqua; 

    border: 1px solid yellow ;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}
/* media media media media media*/
